body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

a {
  display: block;
    margin: 10px 0;
    color: #0056b3;
}

a:hover {
    color: #007bff;
}

.imagem-ajustada {
    max-width: 80%;
    border-radius: 12px;
    border: 3px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


form input, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

#resposta {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: green;
}

