<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Bem-vindo ao Express com EJS!</h1>
    <p>Página inicial.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, expedita officiis sit beatae molestias amet placeat numquam tenetur dignissimos cum aliquid quisquam, ex doloremque? Possimus officia sint est mollitia consequatur.</p>
    <a href="/sobre">Sobre nós</a>
    <a href="/contato">Contato</a>
</body>
</html>