<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <h2>Esta é a página sobre nós.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minima nisi vitae suscipit totam magnam velit voluptate! Magni nesciunt saepe consequuntur rem, vel omnis, eius dignissimos debitis, cum quae sunt?</p>
    <img src="/images/img.png" alt="Foto do Rio de Jneiro" class="imagem-ajustada">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ullam ab, incidunt ex voluptas voluptatem? Rem eius quasi pariatur minus magnam! Earum dolore fugiat quisquam perferendis totam ullam dolor quam!</p>
    <a href="/contato">Contato</a>
    <a href="/">Voltar à página inicial</a>
</body>
</html>